body{
    background-color: #F3E7D3;
}

h1{
    text-align: center;
    color: #3E2C1C;
    font-size: 50px;
    margin-bottom: 5px;
}
h2{
    text-align: center;
    color: #3E2C1C;
    font-size: 8px;
    margin-top: 0px;
}
h3{
    text-align: center;
    color: #3E2C1C;
    font-size: 24px;
    margin-top: 30px;
}
h4{    
    text-align: center;
    color: #3E2C1C;
    font-size: 92px;
    margin-bottom: 10px;
    margin-top: 0px;

}
h5{
    text-align: center;
    color: #F7EDDF;
    font-size: 106px;
    margin-top: 10px;
}

.hero-image{
    background-image: url("./imagefolder/image\ under\ title.jpg");
    height: 501px;
    margin-top: 0px; 
    padding-top: 250px;
}